/*
below are two color schemes to use
$color1: rgba(75, 66, 55, 1);
$color2: rgba(214, 132, 32, 1);
$color3: rgba(237, 228, 218, 1);
$color4: rgba(163, 155, 146, 1);
$color5: rgba(114, 105, 95, 1);

$color1: rgba(75, 66, 55, 1);
$color2: rgba(149, 163, 164, 1);
$color3: rgba(183, 209, 218, 1);
$color4: rgba(163, 155, 146, 1);
$color5: rgba(114, 105, 95, 1);
*/

body{
  background: rgba(149, 163, 164, 1);
}

#header{
  font-family: 'Playfair Display', serif;
  font-size: 1.2em;
  text-align: center;
  margin: auto;
  width: 50%;
  min-width: 420px;
}

#header span{
  background: rgba(75, 66, 55, .1);
  border-radius: .3em;
}



.dropItem {
  background-color: rgba(214, 132, 32, .3);
  color: white;
  padding: 1em;
  font-size: 1em;
  border: none;
  border-radius: 1em;
}

.dropdown-content {
  position: relative;
  display: inline-block;
  padding: .5em;
  border: none;
  border-radius: 1em;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: rgba(114, 105, 95, 1);
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: rgba(183, 209, 218, 1); 
  background: rgb(101, 93, 84);
}

.dropItem:hover .dropdown-content {
  display: block;
}

.dropItem:hover {
  background-color: rgba(75, 66, 55, 1);
}

#leftBody{
  width: 40%;
  float: left;
  background-color: rgb(112, 124, 125);
  color: rgba(183, 209, 218, 1);
  height: 100%;
}

ul{
  list-style: none;
  /* padding-right: 5%; */
}

.spacedList li{
  margin: 1em 0 1em 0;
}